.search {
    max-width: 75%;
}

.container {
    padding: 20px 20px 20px 20px;
}

.trendingBox {
    border-radius: 15px !important;
}

.trending {
    transition: all 0.15s ease-in-out;
}

.trendingLast {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.trending:hover {
    background-color: #1890ff20;
    cursor: pointer;
}