html {
    --antd-wave-shadow-color: #1890ff00;
}

textarea {
    resize: none !important;
}

.ant-modal {
    top: 50px;
}

.ant-modal-content {
    border-radius: 25px;
}

.ant-modal-header {
    border-radius: 25px;
    border-bottom: none;
}

.ant-modal-body {
    padding: 50px 0px 0px 0px;
}

.ant-modal-body > textarea {
    border-radius: 0px;
    border: none;
    font-size: 22px;
    padding: 0px 20px 0px 20px
}

.ant-modal-body > textarea:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-mentions {
    border: none;
}

.ant-mentions:hover {
    border: none;
}

.ant-mentions-focused {
    border: none;
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.0);
}

.ant-mentions:focus {
    border-color: none;
    border-right-width: 0px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.0);
}

.ant-modal-footer {
    border: none;
    padding: 0px 0px 0px 0px !important; 
}

.ant-input {
    color: rgba(0, 0, 0);
}

.ant-popover-inner {
    border-radius: 20px;
}

.ant-popover-arrow {
    visibility: hidden;
}

.ant-notification-notice {
    border-radius: 25px;
}

.ant-form-item {
    margin: 0px 0px 0px 0px;
}